//////////////////////////////////////
//////////////////////////////////////
////////      STYLEGUIDE      ////////
//////////////////////////////////////
//////////////////////////////////////

// Set Style Guide Version
// And add it to sg_version content
@sg_version: "0.6.1";
.sg_version:after{
    content: '@{sg_version}';
}

// Add project name with CSS Pseudo elements
.sg_project_name:after{
    content: '@{project}';
}

////////////////////////////////////////
////////////////////////////////////////
//////      Reusable  Styles      //////
////////////////////////////////////////
////////////////////////////////////////


////////////////////
// Anchor  Target //
////////////////////
.sg_anchor_target{
    visibility: hidden;
    height: 0px;
    width: 0px;
    float: right;
    display: block;
    position: relative;
    top: -80px;
}
/////////////////////
// Call out / hint //
/////////////////////
.sg_callout{
    display: block;
    background-color: @blue_lighter;
    color: @blue_text;
    border-radius: @border_radius;
    max-width: 500px;
    box-shadow: @shadow;
    border-left: 10px solid @primary;

    code{
        background-color: @primary;
        color: @primary_text;
    }
}
//////////////////
// Split Table //
////////////////
// Title on left (small), example and description on right
.sg_split_list{
    display: block;
    
    .sg_sl_item{
        display: flex;
        box-sizing: border-box;
        margin: 8px 0;
        padding: 8px;

        &:nth-child(even){
            background-color: @grey_lighter;
            border-radius: @border_radius;
        }

        @media (min-width: @screen_md) {
            margin: 15px 0;
            padding: 15px;
        }
        
        .left{
            min-width: 22%;
            max-width: 22%;
            margin-right: 15px;
        }
        
        .right{
            flex-grow: 3;
        }
    }
}

///////////////////
// Grid Display //
/////////////////
.sg_grid_display{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    justify-content: space-around;
    @media (min-width: @screen_sm) {
        justify-content: flex-start;
    }

    .sg_grid_item{
        display: flex;
        flex-direction: column;
        background-color: @grey_lighter;
        border-radius: @border_radius;
        box-shadow: @shadow;
        overflow: hidden;
        width: 100%;
        margin-right: 0;
        height: 200px;

        max-width: 300px;
        
        @media (min-width: @screen_sm) {
            width: 48%;
            margin-right: 2%;
            height: 220px;
        }
        @media (min-width: @screen_md) {
            width: 31%;
            margin-right: 2%;
            height: 230px;
        }
        @media (min-width: @screen_lg) {
            width: 23%;
            margin-right: 2%;
            height: 240px;
        }
        @media (min-width: @screen_xl) {
            width: 18%;
            margin-right: 2%;
            height: 240px;
        }


        .sg_grid_example{
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
			max-height: 120px;
			min-height: 120px;


            .sg_grid_example_float{
                display: block;
                width: fit-content;
                margin: 0 auto;
				max-height: 100%;
				text-align: center;

                img{
                    max-width: 100%;
                    max-height: 100px;
                    height: auto;
                    width: auto;
                    box-sizing: border-box;
					padding: 5px;
					margin: 0 auto;
                }
            }
        }

        .sg_grid_info{
            box-sizing: border-box;
            height: 120px;
            min-height: 120px;
            max-height: 120px;
            display: flex;
            background-color: @white;
            flex-direction: column;
            justify-content: center;

			.logo-links{
				font-size: 12px;
				padding: 8px 0 0 0;

				a{
					margin-right: 10px;
					display: inline-block;
				}
			}
        }
    }
}

// Dark grid
.sg_grid_display{

	&.dark{
		.sg_grid_item{
			background-color: @ink_dark;
		}

	}

}


////////////////////////////////////////
//////       Emoji  Display       //////
////////////////////////////////////////
.sg_emoji_display{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	.emoji{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		box-sizing: border-box;
		padding: 0 4px 4px 0;

		img{
			height: 24px;
			width: auto;
			max-width: 100%;
			margin: 0 auto; 
		}
	}
}

////////////////////////////////////////
//////      Specific  Styles      //////
////////////////////////////////////////
//////////
// Nav //
/////////
.sg_nav{
    height: auto;
    // position: fixed;
    // top: 24px;
    // left: 0;
    position: sticky;
    top: 0;
    border-bottom: 1px solid @grey;
    border-top: 1px solid @grey;
    width: 100%;
    color: @ink;
    box-sizing: border-box;
    padding: 0 0 2px 0;
    background-color: @ink_darker;
    background-color: @white;
    font-size: 14px;
    z-index: 5;


    a{
        margin: 4px 8px;
        font-weight: 500;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
    }

    @media (max-width: @screen_mobile) {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
    }
}

////////////
// Intro //
//////////
.sg_intro_logo{
    display: block;
    max-height: 70px;
    max-width: 100%;
    width: auto;
    height: auto;
}

/////////////////
// Colors //
///////////////
.sg_color_display{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.sg_color{
		box-sizing: border-box;
		padding: 20px;
		width: 30%;
		min-width: 30%;
		max-width: 30%;
		min-height: 200px;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		line-height: 24px;
		font-size: 16px;
		margin-bottom: 45px;

		b{
			font-size: 22px;
			padding-bottom: 15px;
		}
		span{
			font-family: monospace;
			font-weight: bold;
		}
	}

	#usgsGreen{
		background-color: #006E4E;
		color: white;
	}
	#colDarkBlue{
		background-color: #03274B;
		color: white;
	}
	#colBlue{
		background-color: #0552D6;
		color: white;
	}
	#colText{
		background-color: #0B141E;
		color: white;
	}
}

//////////////////
//    Footer    //
//////////////////
.sg_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;

    a{
        display: block;
        width: fit-content;
        margin: 0 auto;

        &.sg_footer_version{
            font-size: 12px;
            color: @grey_darker;
            transition: @transition_fast;

            &:before,
            &:after{
                opacity: 0.2;
            }

            &:hover{
                color: @ink;
                transition: @transition_fast;
            }
        }
    }
}


