<div class="container">

    <section>

        <h1>
            Branding
        </h1>
        <p>
            WiM colors, logos, and branding material.
        </p>

        <br/>

        <h2>
            Colors
        </h2>
        <h4>
            Primary
        </h4>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="_color-box _primary">
                    <b>#0F8AFF</b>
                    <span>$primary</span>
                    <span>rgb(15,138,255)</span>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="_color-box _primary-dark">
                    <b>#0070DB</b>
                    <span>$primary-dark</span>
                    <span>rgb(0,112,219)</span>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="_color-box _primary-light">
                    <b>#42A3FF</b>
                    <span>$primary-light</span>
                    <span>rgb(66,163,255)</span>
                </div>
            </div>
        </div>

        <h4>
            Neutral
        </h4>
        <p class="p-meta">Neutral colors are whites, greys, and blacks used for text, shadows, borders, backgroud colors, etc.</p>

        <div class="row">
            <div class="col-xs-3">
                <div class="_color-box _black">
                    <b>#10152C</b>
                    <span>$black</span>
                    <span>rgb(16,21,44)</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="_color-box _grey">
                    <b>#E0E3E6</b>
                    <span>$grey</span>
                    <span>rgb(224,227,230)</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="_color-box _grey-light">
                    <b>#F4F5F6</b>
                    <span>$grey-light</span>
                    <span>rgb(244,245,246)</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="_color-box _white">
                    <b>#FFFFFF</b>
                    <span>$white</span>
                    <span>rgb(255,255,255)</span>
                </div>
            </div>
        </div>


        <h4>
            Semantic
        </h4>
        <p class="p-meta">Semantic colors are used to bring attention to an element. They are for communications - warnings, errors, successes, etc.</p>

        <div class="row">
            <div class="col-xs-3">
                <div class="_color-box _success">
                    <b>#25DF7A</b>
                    <span>$success</span>
                    <span>rgb(37,223,122)</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="_color-box _info">
                    <b>#0F8AFF</b>
                    <span>$info</span>
                    <span>rgb(15,138,255)</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="_color-box _warning">
                    <b>#FEBE32</b>
                    <span>$warning</span>
                    <span>rgb(254,190,50)</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="_color-box _error">
                    <b>#FF0B40</b>
                    <span>$error</span>
                    <span>rgb(255,11,64)</span>
                </div>
            </div>
        </div>


    </section>


    <section>
        <h2>Logos</h2>
        <!--TODO: CDN LINKS TO IMAGES-->
        <p class="p-meta">Logo are available in both light and dark varitions. All logos can be found in the Google Drive folder <a href="https://drive.google.com/drive/folders/0BzU8uKKY37w5fl9uWm9FSlJTVTBBUk1IZjdLd2RINFRKczVVb01YRERYTDA5YUNmSTdsXzA?usp=sharing" target="_blank">here</a>.</p>
        <div class="row bottom-xs _logo-display">
            <div class="col-xs-10 col-sm-6 col-md-3">
                <img alt="WiM" src="images/wim_full_dark.png"/>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-3">
                <img alt="WiM" src="images/wim_abbr_dark.png"/>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-3">
                <img alt="WiM" src="images/wim_pin_dark.png"/>
            </div>
            <!--<div class="col-xs-10 col-sm-6 col-md-3">
                <a href="#" target="_blank">
                    <img alt="WiM" src="images/wim_abbr_dark.png" />
                </a>
                <input type="text" value="images/wim_abbr_dark.png" readOnly/>
            </div>-->
        </div>

    </section>


</div>
