<div>
    <div class="container">
        <section>
            <h1>WiM Style Guide</h1>
            <p>
                The WiM Style Guide should be used when developing or designing WiM applications. It includes classes to style Typography, Buttons, Form Elements, various UI Elements, and also has a built in grid system built on Flexbox.
            </p>
        </section>

        <hr/>

        <section>
            <h2>
                Page Structure
            </h2>
            <p class="p-meta">
                The structure for each application will be different depending on what is used. There are specific styles for the generator, but if you're creating your own application from scratch, you can use the grid from here.
                <br/><br/>
                If you're working on a static site (non-application), this style guide includes some classes that will help with the layout. The same structure is used throughout this styleguide, so if you need a page to look like this, follow the code template below.
            </p>

            <br/>
            
            <pre>
                <code>&lt;div class="container"&gt;</code>
                <code>    &lt;section&gt;</code>
                <code>        &lt;h2&gt;</code>
                <code>            Section Header</code>
                <code>        &lt;/h2&gt;</code>
                <code>        &lt;p&gt;</code>
                <code>            Section description or paragraph</code>
                <code>        &lt;/p&gt;</code>
                <code>    &lt;/section&gt;</code>
                <code>    &lt;hr/&gt;</code>
                <code>    &lt;section&gt;</code>
                <code>        ...</code>
                <code>&lt;/div&gt;</code>
            </pre>

            <br/>

            <p class="p-meta">
                Here are what the (optional) layout helpers do.
            </p>

            <ul class="data-list smalltext"> 
                <li>
                    <span><b>Class</b></span> 
                    <span><b>Description</b></span>
                </li> 
                <li>
                    <span><code>.container</code></span> 
                    <span>Centered, max with 1000px, padding left & right</span>
                </li> 
                <li>
                    <span><code>&lt;section&gt;</code></span> 
                    <span>Full width, margin above and below for spacing</span>
                </li> 
                <li>
                    <span><code>&lt;hr/&gt;</code></span> 
                    <span>Dashed line break</span>
                </li> 
            </ul>

        </section>

    </div>
</div>
