<div class="container"> 
    <div class="row around-xs">

        <div class="_styleguide-sidebar col-lg-3 col-md-3 col-sm-4 col-xs-8">
            <ul class="links-list"> 
                <li>
                    <a href="#headers" class="active">Headers</a>
                </li> 
                <li>
                    <a href="#body">Paragraphs & Copy</a>
                </li> 
                <li>
                    <a href="#miscellaneous">Additional Copy</a>
                </li> 
                <li>
                    <a href="#lists">Lists</a>
                </li> 
                <li>
                    <a href="#helpers">Helper Classes</a>
                </li> 
                <li>
                    <a href="#icons">Icons</a>
                </li> 
            </ul>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <section>
                <h1>Typography</h1>

                <p>
                    The font family used throughout is <a href="https://fonts.google.com/specimen/Roboto" target="_blank">Roboto</a> provided by Google Fonts and imported automatically through the WiM CSS file.
                </p>

                <br/>
                <hr/>
                <br/>

                <a class="_anchor-offset" id="headers"></a>
                <h2>Headers</h2>
                <br/>
                    
                <h1 class="_header-display">
                    Display Header
                    <span class="_heading-font">42px Light<code>&lt;h1&gt;</code></span>
                </h1>
                <h2 class="_header-display">
                    Main Header
                    <span class="_heading-font">30px Bold<code>&lt;h2&gt;</code></span>
                </h2>
                <h3 class="_header-display">
                    Secondary Header
                    <span class="_heading-font">25px Semibold<code>&lt;h3&gt;</code></span>
                </h3>
                <h4 class="_header-display">
                    Section Header
                    <span class="_heading-font">21px Semibold Italic<code>&lt;h4&gt;</code></span>
                </h4>
                <h5 class="_header-display">
                    Section Subheader
                    <span class="_heading-font">17px Semibold<code>&lt;h5&gt;</code></span>
                </h5>
                <h6 class="_header-display">
                    Bold content
                    <span class="_heading-font">15px Semibold<code>&lt;h6&gt;</code></span>
                </h6>
                <p class="_header-display fullwidth">
                    Body content
                    <span class="_heading-font">15px Regular<code>&lt;p&gt;</code></span>
                </p>
                <label class="_header-display">
                    Labels
                    <span class="_heading-font">13px Semibold<code>&lt;label&gt;</code></span>
                </label>
            </section>

            <hr/>

            <section>
                <a class="_anchor-offset" id="body"></a>
                <h2>Paragraphs & Body Copy</h2>

                <h4>Basic paragraph <code>&lt;p&gt;</code></h4>
                <p class="fullwidth">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>

                <h4>Small paragraph <code>&lt;p class="meta-p"&gt;</code></h4>
                <p class="p-meta fullwidth">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                </p>

                <h4>Small meta with 60% opacity (light) <code>&lt;p class="p-meta p-light"&gt;</code></h4>
                <p class="p-meta p-light fullwidth">
                    Vivamus dui lorem, egestas ac risus nec, aliquam pretium ante. Sed enim elit, facilisis non molestie at, tristique non metus. Cras lacinia vestibulum tincidunt. Nulla nec tellus lacus. Vivamus pellentesque, leo vitae sagittis vulputate, arcu justo rhoncus sem, id bibendum dolor lectus sed odio. Duis laoreet turpis a orci aliquam, vel rutrum orci semper. Curabitur vitae posuere ex. Praesent vestibulum tellus eget neque ultrices eleifend. Morbi eget lacus ut felis euismod pharetra vitae eget velit. Cras velit ligula, consequat non lorem non, pretium dapibus diam. Phasellus ornare risus a massa tincidunt, et maximus metus venenatis. In porta congue velit eu placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas pretium sodales nulla.
                </p>


                <h4>Links</h4>
                <p>
                    Links within a paragraph or text element are simply <a href="#">blue-colored text</a>.
                    <br/>
                    If needed, you can have links that <a href="#" class="astrong">stand out more</a> if you add the class <code>.astrong</code> to the link element.
                </p>
                
            </section>

            <hr/>

            <section>
                <a class="_anchor-offset" id="miscellaneous"></a>
                <h2>Miscellaneous</h2>

                <h4>Block quotes</h4>
                <p class="p-meta">
                    If copying content from another source (blog, external website, etc) you should quote the text in a <code>&lt;blockquote&gt;</code> tag, and if necessary, give attribution using an <code>&lt;em&gt;</code> tag within the blockquote.
                </p>
                <blockquote>
                    We provide science about the natural hazards that threaten lives and livelihoods; the water, energy, minerals, and other natural resources we rely on; the health of our ecosystems and environment; and the impacts of climate and land-use change.                    
                    <em>- USGS.gov homepage</em>
                </blockquote>


                <pre>
                    <code>&lt;blockquote&gt;</code>
                    <code>    We provide science about the natural hazards that threaten lives and livelihoods; the water, energy, minerals, and other natural resources we rely on; the health of our ecosystems and environment; and the impacts of climate and land-use change.</code>
                    <code>    &lt;em&gt;- USGS.gov homepage&lt;/em&gt;</code>
                    <code>&lt;/blockquote&gt;</code>
                </pre>

                
                
                <br/>

                <h4>Code blocks</h4>
                <pre>
                    <code><span class="cmt">&lt;!-- This is code text --&gt;</span></code>
                    <code><span class="tag">&lt;p&gt;</span>Code coloring can be added with class names<span class="tag">&lt;/p&gt;</span></code>
                    <code><span class="tag">&lt;tags&gt;</span><span> are highlighted blue with class="tag": &lt;span class="tag"&gt;</span> <span class="tag">&lt;/tags&gt;</span></code>
                    <code><span class="cmt">&lt;!-- Comments are shown with class="cmt": &lt;span class="cmt"&gt; --&gt;</span></code>
                    <code><span class="tag">&lt;p&gt;</span><span>Remember to change &lt; and &gt; to &amp;lt; and &amp;gt; when displaying code within a page.</span><span class="tag">&lt;/p&gt;</span></code>
                    <code>&nbsp;</code>
                    <code>&nbsp;</code>
                    <code><span class="cmt">&lt;!-- Here is example code of what this code block's actual code looks like --&gt;</span></code>
                    <code><span class="tag">&lt;pre&gt;</span></code>
                    <code><span class="tag">    &lt;code&gt;&lt;span class="cmt"&gt;</span>&amp;lt;!-- This is code text --&amp;gt;<span class="tag">&lt;/span&gt;&lt;/code&gt;</code></span>
                    <code><span class="tag">    &lt;code&gt;&lt;span class="tag"&gt;&amp;lt;p&amp;gt;&lt;/span&gt;</span>Code coloring can be added...<span class="tag">&lt;span class="tag"&gt;&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/code&gt;</span></code>
                    <code><span class="tag">&lt;/pre&gt;</span></code>
                </pre>

                <br/>

                <p class="p-meta">
                    You can also display a short snippet of code anywhere in any text element using the <code>&lt;code&gt;</code> tag.
                </p>
            </section>

            <hr/>

            <section>
                <a class="_anchor-offset" id="lists"></a>
                <h2>Lists</h2>
                <h4>Unordered data list</h4>
                <ul class="data-list"> 
                    <li>
                        <span>Nitrogen</span> 
                        <span>10.5%</span>
                    </li> 
                    <li>
                        <span>Ammonia</span> 
                        <span>17%</span>
                    </li> 
                    <li>
                        <span><b>Total</b></span> 
                        <span><b>27.5%</b></span>
                    </li> 
                </ul>
                <pre>
                    <code>&lt;ul class="data-list"&gt;</code>
                    <code>    &lt;li&gt;</code>
                    <code>        &lt;span&gt;Nitrogen&lt;/span&gt;</code>
                    <code>        &lt;span&gt;10.5%&lt;/span&gt;</code>
                    <code>    &lt;/li&gt;</code>
                    <code>&lt;/ul&gt;</code>
                </pre>

                <br/>

                <h4>Unordered list of links</h4>
                <ul class="links-list"> 
                    <li>
                        <a href="#" class="active">See All</a>
                    </li> 
                    <li>
                        <a href="#">View 1996-2005</a>
                    </li> 
                    <li>
                        <a href="#">View 2006-2015</a>
                    </li> 
                </ul>
                <pre>
                    <code>&lt;ul class="links-list"&gt;</code>
                    <code>    &lt;li&gt;</code>
                    <code>        &lt;a href="#" class="active"&gt;See All&lt;/a&gt;</code>
                    <code>    &lt;/li&gt;</code>
                    <code>    &lt;li&gt;</code>
                    <code>        &lt;a href="#"&gt;View 1996-2005&lt;/a&gt;</code>
                    <code>    &lt;/li&gt;</code>
                    <code>&lt;/ul&gt;</code>
                </pre>

                <br/>

                <h4>Horizontal list</h4>
                <ul class="horizontal-list"> 
                    <li>Pressure Transducer</li>
                    <li>Thermometer</li>
                    <li>Webcam</li>
                    <li>Rain Gage</li>
                </ul>
                <pre>
                    <code>&lt;ul class="horizontal-list"&gt;</code>
                    <code>    &lt;li&gt;</code>
                    <code>        Pressure Transducer</code>
                    <code>    &lt;/li&gt;</code>
                    <code>    &lt;li&gt;</code>
                    <code>        Thermometer</code>
                    <code>    &lt;/li&gt;</code>
                    <code>&lt;/ul&gt;</code>
                </pre>

                <br/>

                <h4>Bulleted horizontal list</h4>
                <ul class="horizontal-list bullets"> 
                    <li>Pressure Transducer</li>
                    <li>Thermometer</li>
                    <li>Webcam</li>
                    <li>Rain Gage</li>
                </ul>
                <pre>
                    <code>&lt;ul class="horizontal-list <b>bullets</b>"&gt;</code>
                    <code>...</code>
                </pre>
            </section>

            <hr/>

            <section>
                <a class="_anchor-offset" id="helpers"></a>
                <h2>Helper Classes</h2>
                <p class="p-meta">Use these helper classes to modify text within an element without using inline styles.</p>
                <ul class="data-list smalltext"> 
                    <li>
                        <span><b>Class</b></span> 
                        <span><b>Description</b></span>
                    </li> 
                    <li>
                        <span><code>.alignc</code></span> 
                        <span>Center align text</span>
                    </li> 
                    <li>
                        <span><code>.alignl</code></span> 
                        <span>Left align text</span>
                    </li> 
                    <li>
                        <span><code>.alignr</code></span> 
                        <span>Right align text</span>
                    </li> 
                    <li>
                        <span><code>.fullwidth</code></span> 
                        <span>Paragraphs default to max width of 680, use this class to override it.</span>
                    </li> 
                    <li>
                        <span><code>.capitalize</code></span> 
                        <span>Capitalize every word</span>
                    </li> 
                    <li>
                        <span><code>.uppercase</code></span> 
                        <span>Transform all text to uppercase</span>
                    </li> 
                    <li>
                        <span><code>.lowercase</code></span> 
                        <span>Transform all text to lowercase</span>
                    </li> 
                    <li>
                        <span><code>.smalltext</code></span> 
                        <span>Make all text smaller (13px) than the default (15px)</span>
                    </li> 
                </ul>

            </section>

        </div>
    </div>
    

</div>
