// Offset anchors for link scrolling
._anchor-offset{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

// Sidebar for long pages
._styleguide-sidebar{
    display: block;
    box-sizing: border-box;
    padding: 64px 15px 0 0;
}

// Header between nav and body (Ex on Overview page)
._styleguide-header{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    height: 300px;
    background-color: $grey-light;
    box-sizing: border-box;
    padding: 65px;
    font-family: $sans;
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: -40px;

    img{
        height: auto;
        max-height: 200px;
        width: auto;
        margin: 0 auto;
    }
}