@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v25/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v25/u-4n0qyriQwlOrhSvowK_l52xwNZWMf_.ttf) format('truetype');
}
.sg_version:after {
  content: '0.6.1';
}
.sg_project_name:after {
  content: 'WIM';
}
.sg_anchor_target {
  visibility: hidden;
  height: 0px;
  width: 0px;
  float: right;
  display: block;
  position: relative;
  top: -80px;
}
.sg_callout {
  display: block;
  background-color: #97d9fe;
  color: #00253b;
  border-radius: 3px;
  max-width: 500px;
  box-shadow: 0 5px 25px -5px rgba(30, 16, 84, 0.1);
  border-left: 10px solid #0652d6;
}
.sg_callout code {
  background-color: #0652d6;
  color: #ffffff;
}
.sg_split_list {
  display: block;
}
.sg_split_list .sg_sl_item {
  display: flex;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 8px;
}
.sg_split_list .sg_sl_item:nth-child(even) {
  background-color: #f8f9fa;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .sg_split_list .sg_sl_item {
    margin: 15px 0;
    padding: 15px;
  }
}
.sg_split_list .sg_sl_item .left {
  min-width: 22%;
  max-width: 22%;
  margin-right: 15px;
}
.sg_split_list .sg_sl_item .right {
  flex-grow: 3;
}
.sg_grid_display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-around;
}
@media (min-width: 480px) {
  .sg_grid_display {
    justify-content: flex-start;
  }
}
.sg_grid_display .sg_grid_item {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 3px;
  box-shadow: 0 5px 25px -5px rgba(30, 16, 84, 0.1);
  overflow: hidden;
  width: 100%;
  margin-right: 0;
  height: 200px;
  max-width: 300px;
}
@media (min-width: 480px) {
  .sg_grid_display .sg_grid_item {
    width: 48%;
    margin-right: 2%;
    height: 220px;
  }
}
@media (min-width: 768px) {
  .sg_grid_display .sg_grid_item {
    width: 31%;
    margin-right: 2%;
    height: 230px;
  }
}
@media (min-width: 992px) {
  .sg_grid_display .sg_grid_item {
    width: 23%;
    margin-right: 2%;
    height: 240px;
  }
}
@media (min-width: 1600px) {
  .sg_grid_display .sg_grid_item {
    width: 18%;
    margin-right: 2%;
    height: 240px;
  }
}
.sg_grid_display .sg_grid_item .sg_grid_example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-height: 120px;
  min-height: 120px;
}
.sg_grid_display .sg_grid_item .sg_grid_example .sg_grid_example_float {
  display: block;
  width: fit-content;
  margin: 0 auto;
  max-height: 100%;
  text-align: center;
}
.sg_grid_display .sg_grid_item .sg_grid_example .sg_grid_example_float img {
  max-width: 100%;
  max-height: 100px;
  height: auto;
  width: auto;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 auto;
}
.sg_grid_display .sg_grid_item .sg_grid_info {
  box-sizing: border-box;
  height: 120px;
  min-height: 120px;
  max-height: 120px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
}
.sg_grid_display .sg_grid_item .sg_grid_info .logo-links {
  font-size: 12px;
  padding: 8px 0 0 0;
}
.sg_grid_display .sg_grid_item .sg_grid_info .logo-links a {
  margin-right: 10px;
  display: inline-block;
}
.sg_grid_display.dark .sg_grid_item {
  background-color: #0c141e;
}
.sg_emoji_display {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.sg_emoji_display .emoji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 0 4px 4px 0;
}
.sg_emoji_display .emoji img {
  height: 24px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.sg_nav {
  height: auto;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #D9DDE4;
  border-top: 1px solid #D9DDE4;
  width: 100%;
  color: #142234;
  box-sizing: border-box;
  padding: 0 0 2px 0;
  background-color: #030508;
  background-color: #fff;
  font-size: 14px;
  z-index: 5;
}
.sg_nav a {
  margin: 4px 8px;
  font-weight: 500;
  text-decoration: none;
}
.sg_nav a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .sg_nav {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
  }
}
.sg_intro_logo {
  display: block;
  max-height: 70px;
  max-width: 100%;
  width: auto;
  height: auto;
}
.sg_color_display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sg_color_display .sg_color {
  box-sizing: border-box;
  padding: 20px;
  width: 30%;
  min-width: 30%;
  max-width: 30%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 45px;
}
.sg_color_display .sg_color b {
  font-size: 22px;
  padding-bottom: 15px;
}
.sg_color_display .sg_color span {
  font-family: monospace;
  font-weight: bold;
}
.sg_color_display #usgsGreen {
  background-color: #006E4E;
  color: white;
}
.sg_color_display #colDarkBlue {
  background-color: #03274B;
  color: white;
}
.sg_color_display #colBlue {
  background-color: #0552D6;
  color: white;
}
.sg_color_display #colText {
  background-color: #0B141E;
  color: white;
}
.sg_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
}
.sg_footer a {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.sg_footer a.sg_footer_version {
  font-size: 12px;
  color: #b7becc;
  transition: 0.05s;
}
.sg_footer a.sg_footer_version:before,
.sg_footer a.sg_footer_version:after {
  opacity: 0.2;
}
.sg_footer a.sg_footer_version:hover {
  color: #142234;
  transition: 0.05s;
}
.sg_color_spread {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sg_color_spread .cs_group {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px auto;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 5px 25px -5px rgba(30, 16, 84, 0.1);
}
@media (min-width: 550px) {
  .sg_color_spread .cs_group {
    width: 48%;
    min-width: 48%;
    margin-bottom: 30px;
  }
}
@media (min-width: 1000px) {
  .sg_color_spread .cs_group {
    width: 30%;
    min-width: 30%;
    margin-bottom: 46px;
  }
}
.sg_color_spread .cs_group .cs_color {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
  font-size: 15px;
}
.sg_color_spread .cs_group .cs_color:before {
  content: 'Color';
  text-transform: capitalize;
  letter-spacing: 0px;
}
.sg_color_spread .cs_group .cs_color:after {
  content: '#H3XH3X';
  text-transform: uppercase;
}
.sg_color_spread .cs_group .cs_color:nth-child(6) {
  background-color: #fff;
}
.sg_color_spread .cs_group .cs_color:nth-child(6):before {
  content: 'Text';
}
.cs_grey .cs_color:nth-child(1) {
  background-color: #f8f9fa;
}
.cs_grey .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_grey .cs_color:nth-child(1):after {
  content: '#f8f9fa';
}
.cs_grey .cs_color:nth-child(2) {
  background-color: #eef0f3;
}
.cs_grey .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_grey .cs_color:nth-child(2):after {
  content: '#eef0f3';
}
.cs_grey .cs_color:nth-child(3) {
  background-color: #D9DDE4;
}
.cs_grey .cs_color:nth-child(3):before {
  content: 'Grey';
}
.cs_grey .cs_color:nth-child(3):after {
  content: '#D9DDE4';
}
.cs_grey .cs_color:nth-child(4) {
  background-color: #c7cdd7;
}
.cs_grey .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_grey .cs_color:nth-child(4):after {
  content: '#c7cdd7';
}
.cs_grey .cs_color:nth-child(5) {
  background-color: #b7becc;
}
.cs_grey .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_grey .cs_color:nth-child(5):after {
  content: '#b7becc';
}
.cs_grey .cs_color:nth-child(6) {
  color: #142234;
}
.cs_grey .cs_color:nth-child(6):after {
  content: '#142234';
}
.cs_ink .cs_color:nth-child(1) {
  background-color: #253f60;
}
.cs_ink .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_ink .cs_color:nth-child(1):after {
  content: '#253f60';
}
.cs_ink .cs_color:nth-child(2) {
  background-color: #1c304a;
}
.cs_ink .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_ink .cs_color:nth-child(2):after {
  content: '#1c304a';
}
.cs_ink .cs_color:nth-child(3) {
  background-color: #142234;
}
.cs_ink .cs_color:nth-child(3):before {
  content: 'Ink';
}
.cs_ink .cs_color:nth-child(3):after {
  content: '#142234';
}
.cs_ink .cs_color:nth-child(4) {
  background-color: #0c141e;
}
.cs_ink .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_ink .cs_color:nth-child(4):after {
  content: '#0c141e';
}
.cs_ink .cs_color:nth-child(5) {
  background-color: #030508;
}
.cs_ink .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_ink .cs_color:nth-child(5):after {
  content: '#030508';
}
.cs_ink .cs_color:nth-child(6) {
  color: #ffffff;
  background-color: #0c141e !important;
}
.cs_ink .cs_color:nth-child(6):after {
  content: '#ffffff';
}
.cs_ink .cs_color:after,
.cs_ink .cs_color:before {
  color: #ffffff;
}
.cs_primary {
  color: #fff;
}
.cs_primary .cs_color:nth-child(1) {
  background-color: #528ffa;
}
.cs_primary .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_primary .cs_color:nth-child(1):after {
  content: '#528ffa';
}
.cs_primary .cs_color:nth-child(2) {
  background-color: #1b6cf9;
}
.cs_primary .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_primary .cs_color:nth-child(2):after {
  content: '#1b6cf9';
}
.cs_primary .cs_color:nth-child(3) {
  background-color: #0652d6;
}
.cs_primary .cs_color:nth-child(3):before {
  content: 'primary';
}
.cs_primary .cs_color:nth-child(3):after {
  content: '#0652d6';
}
.cs_primary .cs_color:nth-child(4) {
  background-color: #0543ae;
}
.cs_primary .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_primary .cs_color:nth-child(4):after {
  content: '#0543ae';
}
.cs_primary .cs_color:nth-child(5) {
  background-color: #043487;
}
.cs_primary .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_primary .cs_color:nth-child(5):after {
  content: '#043487';
}
.cs_primary .cs_color:nth-child(6) {
  color: #ffffff;
  background-color: #0652d6 !important;
}
.cs_primary .cs_color:nth-child(6):after {
  content: '#ffffff';
}
.cs_secondary .cs_color:nth-child(1) {
  background-color: #419a7f;
}
.cs_secondary .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_secondary .cs_color:nth-child(1):after {
  content: '#419a7f';
}
.cs_secondary .cs_color:nth-child(2) {
  background-color: #357e68;
}
.cs_secondary .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_secondary .cs_color:nth-child(2):after {
  content: '#357e68';
}
.cs_secondary .cs_color:nth-child(3) {
  background-color: #296150;
}
.cs_secondary .cs_color:nth-child(3):before {
  content: 'secondary';
}
.cs_secondary .cs_color:nth-child(3):after {
  content: '#296150';
}
.cs_secondary .cs_color:nth-child(4) {
  background-color: #1d4438;
}
.cs_secondary .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_secondary .cs_color:nth-child(4):after {
  content: '#1d4438';
}
.cs_secondary .cs_color:nth-child(5) {
  background-color: #112821;
}
.cs_secondary .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_secondary .cs_color:nth-child(5):after {
  content: '#112821';
}
.cs_secondary .cs_color:nth-child(6) {
  background-color: #296150 !important;
}
.cs_secondary .cs_color:nth-child(6):after {
  content: '#ffffff';
}
.cs_secondary .cs_color:after,
.cs_secondary .cs_color:before {
  color: #ffffff;
}
.cs_purple {
  color: #221238;
}
.cs_purple .cs_color:nth-child(1) {
  background-color: #ddcff0;
}
.cs_purple .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_purple .cs_color:nth-child(1):after {
  content: '#ddcff0';
}
.cs_purple .cs_color:nth-child(2) {
  background-color: #c4ade4;
}
.cs_purple .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_purple .cs_color:nth-child(2):after {
  content: '#c4ade4';
}
.cs_purple .cs_color:nth-child(3) {
  background-color: #AB8AD9;
}
.cs_purple .cs_color:nth-child(3):before {
  content: 'purple';
}
.cs_purple .cs_color:nth-child(3):after {
  content: '#AB8AD9';
}
.cs_purple .cs_color:nth-child(4) {
  background-color: #9267ce;
  color: #fff;
}
.cs_purple .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_purple .cs_color:nth-child(4):after {
  content: '#9267ce';
}
.cs_purple .cs_color:nth-child(5) {
  background-color: #7945c2;
  color: #fff;
}
.cs_purple .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_purple .cs_color:nth-child(5):after {
  content: '#7945c2';
}
.cs_purple .cs_color:nth-child(6) {
  color: #221238;
}
.cs_purple .cs_color:nth-child(6):after {
  content: '#221238';
}
.cs_indigo {
  color: #13133b;
}
.cs_indigo .cs_color:nth-child(1) {
  background-color: #c7c7ed;
}
.cs_indigo .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_indigo .cs_color:nth-child(1):after {
  content: '#c7c7ed';
}
.cs_indigo .cs_color:nth-child(2) {
  background-color: #a5a5e1;
}
.cs_indigo .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_indigo .cs_color:nth-child(2):after {
  content: '#a5a5e1';
}
.cs_indigo .cs_color:nth-child(3) {
  background-color: #8282D6;
}
.cs_indigo .cs_color:nth-child(3):before {
  content: 'indigo';
}
.cs_indigo .cs_color:nth-child(3):after {
  content: '#8282D6';
}
.cs_indigo .cs_color:nth-child(4) {
  background-color: #5f5fcb;
  color: #fff;
}
.cs_indigo .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_indigo .cs_color:nth-child(4):after {
  content: '#5f5fcb';
}
.cs_indigo .cs_color:nth-child(5) {
  background-color: #3e3ebe;
  color: #fff;
}
.cs_indigo .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_indigo .cs_color:nth-child(5):after {
  content: '#3e3ebe';
}
.cs_indigo .cs_color:nth-child(6) {
  color: #13133b;
}
.cs_indigo .cs_color:nth-child(6):after {
  content: '#13133b';
}
.cs_blue {
  color: #00253b;
}
.cs_blue .cs_color:nth-child(1) {
  background-color: #97d9fe;
}
.cs_blue .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_blue .cs_color:nth-child(1):after {
  content: '#97d9fe';
}
.cs_blue .cs_color:nth-child(2) {
  background-color: #6ac8fe;
}
.cs_blue .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_blue .cs_color:nth-child(2):after {
  content: '#6ac8fe';
}
.cs_blue .cs_color:nth-child(3) {
  background-color: #3CB7FE;
}
.cs_blue .cs_color:nth-child(3):before {
  content: 'blue';
}
.cs_blue .cs_color:nth-child(3):after {
  content: '#3CB7FE';
}
.cs_blue .cs_color:nth-child(4) {
  background-color: #0ea6fe;
}
.cs_blue .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_blue .cs_color:nth-child(4):after {
  content: '#0ea6fe';
}
.cs_blue .cs_color:nth-child(5) {
  color: #fff;
  background-color: #018ddd;
}
.cs_blue .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_blue .cs_color:nth-child(5):after {
  content: '#018ddd';
}
.cs_blue .cs_color:nth-child(6):after {
  content: '#00253b';
}
.cs_teal {
  color: #0e2a27;
}
.cs_teal .cs_color:nth-child(1) {
  background-color: #a6e2db;
}
.cs_teal .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_teal .cs_color:nth-child(1):after {
  content: '#a6e2db';
}
.cs_teal .cs_color:nth-child(2) {
  background-color: #84d7cd;
}
.cs_teal .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_teal .cs_color:nth-child(2):after {
  content: '#84d7cd';
}
.cs_teal .cs_color:nth-child(3) {
  background-color: #61CCBF;
}
.cs_teal .cs_color:nth-child(3):before {
  content: 'teal';
}
.cs_teal .cs_color:nth-child(3):after {
  content: '#61CCBF';
}
.cs_teal .cs_color:nth-child(4) {
  background-color: #3ec1b1;
}
.cs_teal .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_teal .cs_color:nth-child(4):after {
  content: '#3ec1b1';
}
.cs_teal .cs_color:nth-child(5) {
  color: white;
  background-color: #339e91;
}
.cs_teal .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_teal .cs_color:nth-child(5):after {
  content: '#339e91';
}
.cs_teal .cs_color:nth-child(6) {
  color: #0e2a27;
}
.cs_teal .cs_color:nth-child(6):after {
  content: '#0e2a27';
}
.cs_green {
  color: #071207;
}
.cs_green .cs_color:nth-child(1) {
  background-color: #afdfaf;
}
.cs_green .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_green .cs_color:nth-child(1):after {
  content: '#afdfaf';
}
.cs_green .cs_color:nth-child(2) {
  background-color: #8fd18f;
}
.cs_green .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_green .cs_color:nth-child(2):after {
  content: '#8fd18f';
}
.cs_green .cs_color:nth-child(3) {
  background-color: #6EC46E;
}
.cs_green .cs_color:nth-child(3):before {
  content: 'green';
}
.cs_green .cs_color:nth-child(3):after {
  content: '#6EC46E';
}
.cs_green .cs_color:nth-child(4) {
  background-color: #4db74d;
}
.cs_green .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_green .cs_color:nth-child(4):after {
  content: '#4db74d';
}
.cs_green .cs_color:nth-child(5) {
  color: #fff;
  background-color: #3e983e;
}
.cs_green .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_green .cs_color:nth-child(5):after {
  content: '#3e983e';
}
.cs_green .cs_color:nth-child(6) {
  color: #071207;
}
.cs_green .cs_color:nth-child(6):after {
  content: '#071207';
}
.cs_yellow {
  color: #221d02;
}
.cs_yellow .cs_color:nth-child(1) {
  background-color: #faedae;
}
.cs_yellow .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_yellow .cs_color:nth-child(1):after {
  content: '#faedae';
}
.cs_yellow .cs_color:nth-child(2) {
  background-color: #f7e483;
}
.cs_yellow .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_yellow .cs_color:nth-child(2):after {
  content: '#f7e483';
}
.cs_yellow .cs_color:nth-child(3) {
  background-color: #F4DA58;
}
.cs_yellow .cs_color:nth-child(3):before {
  content: 'yellow';
}
.cs_yellow .cs_color:nth-child(3):after {
  content: '#F4DA58';
}
.cs_yellow .cs_color:nth-child(4) {
  background-color: #f1cf28;
}
.cs_yellow .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_yellow .cs_color:nth-child(4):after {
  content: '#f1cf28';
}
.cs_yellow .cs_color:nth-child(5) {
  background-color: #e1be0f;
}
.cs_yellow .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_yellow .cs_color:nth-child(5):after {
  content: '#e1be0f';
}
.cs_yellow .cs_color:nth-child(6) {
  color: #221d02;
}
.cs_yellow .cs_color:nth-child(6):after {
  content: '#221d02';
}
.cs_orange {
  color: #3f1e04;
}
.cs_orange .cs_color:nth-child(1) {
  background-color: #fad0ae;
}
.cs_orange .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_orange .cs_color:nth-child(1):after {
  content: '#fad0ae';
}
.cs_orange .cs_color:nth-child(2) {
  background-color: #f7b783;
}
.cs_orange .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_orange .cs_color:nth-child(2):after {
  content: '#f7b783';
}
.cs_orange .cs_color:nth-child(3) {
  background-color: #F49E58;
}
.cs_orange .cs_color:nth-child(3):before {
  content: 'orange';
}
.cs_orange .cs_color:nth-child(3):after {
  content: '#F49E58';
}
.cs_orange .cs_color:nth-child(4) {
  background-color: #f1852d;
}
.cs_orange .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_orange .cs_color:nth-child(4):after {
  content: '#f1852d';
}
.cs_orange .cs_color:nth-child(5) {
  color: white;
  background-color: #e16d0f;
}
.cs_orange .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_orange .cs_color:nth-child(5):after {
  content: '#e16d0f';
}
.cs_orange .cs_color:nth-child(6) {
  color: #3f1e04;
}
.cs_orange .cs_color:nth-child(6):after {
  content: '#3f1e04';
}
.cs_red {
  color: #270303;
}
.cs_red .cs_color:nth-child(1) {
  background-color: #fab3b3;
}
.cs_red .cs_color:nth-child(1):before {
  content: 'Lighter';
}
.cs_red .cs_color:nth-child(1):after {
  content: '#fab3b3';
}
.cs_red .cs_color:nth-child(2) {
  background-color: #f78888;
}
.cs_red .cs_color:nth-child(2):before {
  content: 'Light';
}
.cs_red .cs_color:nth-child(2):after {
  content: '#f78888';
}
.cs_red .cs_color:nth-child(3) {
  background-color: #F45D5D;
}
.cs_red .cs_color:nth-child(3):before {
  content: 'red';
}
.cs_red .cs_color:nth-child(3):after {
  content: '#F45D5D';
}
.cs_red .cs_color:nth-child(4) {
  background-color: #f23939;
}
.cs_red .cs_color:nth-child(4):before {
  content: 'Dark';
}
.cs_red .cs_color:nth-child(4):after {
  content: '#f23939';
}
.cs_red .cs_color:nth-child(5) {
  background-color: #ef1515;
  color: white;
}
.cs_red .cs_color:nth-child(5):before {
  content: 'Darker';
}
.cs_red .cs_color:nth-child(5):after {
  content: '#ef1515';
}
.cs_red .cs_color:nth-child(6) {
  color: #270303;
}
.cs_red .cs_color:nth-child(6):after {
  content: '#270303';
}
